@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.sectionHeading {
  font-family: Playfair;
  font-size: 2rem;
  font-weight: 700;
  color: #09270d;
}

.cardHeading {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  color: #09270d;
}

.cardContent {
  font-family: Poppins;
  font-size: 0.8rem;
  font-weight: 500;
  color: #727272;
}

.content {
  font-family: Playfair;
  font-size: 0.9rem;
  font-weight: 500;
  color: #727272;
}

hr {
  color: #3e8847;
}

.greenButton {
  background-color: #09270d !important;
  color: white !important;
}

a {
  text-decoration: none;
}

.sectionGap {
  margin-top: 50px;
}

.brandName {
  font-family: Playfair;
  font-size: 1.7rem;
  font-weight: 500;
  color: #3e8847;
}

.brandNameGray {
  color: #7d807e !important;
}

.navbarLink li {
  border-bottom: 1px solid white;
}
.navbarLink li a {
  color: #09270d !important;
}
.navbarLink li:hover {
  border-bottom: 1px solid #3e8847;
}

.searchBox {
  outline: none !important;
}
.searchBox::-moz-placeholder {
  color: #c0c0c0;
  font-size: 0.8rem;
}
.searchBox::placeholder {
  color: #c0c0c0;
  font-size: 0.8rem;
}

.searchIcon {
  top: 8px;
  right: 13px;
  width: 20px;
}

.addUser:hover,
.bag:hover {
  cursor: pointer;
}

.heroHeading {
  font-family: Playfair;
  font-size: 3rem;
  font-weight: 500;
  color: #3e8847;
}

.heroLeaf {
  left: 30px;
  top: -50px;
  height: 80px;
}

.sliderContainer img {
  padding: 0.8rem;
  min-width: 100%;
  width: 100%;
  height: 32rem;
}

.heroCarouselImage {
  transition: all 0.3s ease;
  border-radius: 1.5rem;
}

.heroSlider {
  display: inline-block;
  width: 3.5rem;
  height: 0.2rem;
  background-color: #92b896;
}

.heroSliderSelected {
  background-color: #3e8847;
}

.heroContainer {
  flex-direction: column;
}

.collectionImageHeading {
  font-family: Playfair;
  font-size: 1.3rem;
  font-weight: 600;
  color: #09270d;
}

.collectionContent div::-webkit-scrollbar {
  display: none;
}

.plantCollectionImage {
  height: 24rem;
  width: 100%;
}
.plantCollectionImage img {
  width: 100%;
  height: 100%;
}

.plantCollectionCarousel div {
  flex-shrink: 0;
}

.carouselMover {
  border: 0.5px solid #09270d;
  border-radius: 50%;
  font-size: 25px;
}
.carouselMover:hover {
  cursor: pointer;
  border-color: #f5c771;
  color: #f5c771;
}

.journeyPlant {
  height: 500px;
  width: 315px;
}
.journeyPlant img {
  width: 100%;
  height: 100%;
}

.journeyContent {
  max-width: 100%;
}

.journeySidePlant {
  display: none;
}

.journeyLeaves {
  display: none;
  width: 100px;
}
.journeyLeaves img {
  width: 100%;
  height: 100%;
}

.cardImage {
  width: 80px;
}
.cardImage img {
  width: 100%;
  height: 100%;
}

.advantagesCard {
  background-color: #fcfbf8;
  border-radius: 20px;
}

.formContainer {
  background-color: #faf9f7;
  height: 550px;
  width: 100%;
  padding: 20px;
}
.formContainer input {
  border: 0;
  border-bottom: 1px #ececec solid;
  background-color: #faf9f7;
  padding-top: 20px;
  outline: none;
}

.formImage {
  height: auto;
}
.formImage img {
  width: 100%;
  height: 100%;
}

.formLeaves {
  display: none;
  bottom: -40px;
  width: 200px;
}
.formLeaves img {
  width: 100%;
  height: 100%;
}

.choosingImage {
  border-radius: 50%;
  width: 4.2rem;
  height: 4.2rem;
  background-color: #3e8847;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choosingImage .greenPlant {
  display: none;
}

.choosingCard:hover {
  cursor: pointer;
  background-color: #3e8847;
}
.choosingCard:hover .greenPlant {
  display: block;
}
.choosingCard:hover .whitePlant {
  display: none;
}
.choosingCard:hover .choosingImage {
  background-color: white;
}
.choosingCard:hover .choosingCardFont {
  color: white;
}

.clientCard {
  width: 20rem;
}
.clientCard .quoteWhite {
  display: none;
}
.clientCard:hover {
  cursor: pointer;
  background-color: #3e8847;
}
.clientCard:hover .quoteGreen {
  display: none;
}
.clientCard:hover .quoteWhite {
  display: block;
}
.clientCard:hover p {
  color: white;
}

.clientCardImage {
  width: 5rem;
  height: 5rem;
}
.clientCardImage img {
  width: 100%;
  height: 100%;
}

.playButton {
  display: none;
}

.openQuote {
  width: 2rem;
  top: 6rem;
  left: 1.5rem;
}

.closeQuote {
  width: 2.5rem;
  bottom: -2rem;
  right: 2rem;
}

.clientCardContainer::-webkit-scrollbar {
  display: none;
}

.clientTalkCard {
  transition: transform 0.6s ease;
}

.plantCareImage img {
  width: 100%;
  height: 100%;
}

.plantCareLeaves {
  width: 7rem;
}
.plantCareLeaves img {
  width: 100%;
  height: 100%;
}

.footer-section {
  background-image: url(./images/footer/background.png);
}

.footerNuvosa {
  font-family: poppins;
  font-size: 3rem;
  font-weight: 500;
  color: #d0d6c9;
}

.footerCategoryName {
  font-family: poppins;
  font-size: 1.5rem;
  font-weight: 500;
  color: #d0d6c9;
}

.footerBottomText {
  font-family: poppins;
  font-size: 0.8rem;
  font-weight: 500;
  color: #b0baa3;
}

.footerSocialMedia img:hover {
  cursor: pointer;
}

@media (min-width: 576px) {
  .sectionGap {
    margin-top: 100px;
  }
  .sectionHeading {
    font-family: Playfair;
    font-size: 2.5rem;
    font-weight: 700;
    color: #09270d;
  }
  .cardHeading {
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 600;
    color: #09270d;
  }
  .cardContent {
    font-family: Poppins;
    font-size: 0.9rem;
    font-weight: 500;
    color: #727272;
  }
  .content {
    font-family: Playfair;
    font-size: 1.2rem;
    font-weight: 500;
    color: #727272;
  }
  .heroHeading {
    font-family: Playfair;
    font-size: 4rem;
    font-weight: 500;
    color: #3e8847;
  }
  .plantCollectionImage {
    height: 28rem;
    width: 24rem;
    transition: transform 9sec ease;
  }
  .plantCollectionImage:hover {
    transform: rotate(3deg);
  }
  .journeyPlant {
    height: 600px;
    width: 400px;
  }
  .journeySidePlant {
    display: block;
    top: -100px;
    height: 350px;
  }
  .journeySidePlant img {
    width: 100%;
    height: 100%;
  }
  .journeyLeaves {
    display: block;
  }
  .cardImage {
    margin-left: -50px;
  }
  .formContainer {
    padding: 60px;
  }
}
@media (min-width: 768px) {
  .heroCarouselButton {
    margin-left: 7rem;
  }
  .clientCard {
    width: 40rem;
  }
  .openQuote {
    width: 2rem;
    top: 1rem;
    left: 5rem;
  }
  .clientCardImage {
    width: 23rem;
    height: 7rem;
    margin: auto;
    margin-left: -3rem !important;
  }
  .clientCardImage img {
    width: 100%;
    height: 100%;
  }
  .playButton {
    display: block;
  }
  .playButton:hover {
    cursor: pointer;
  }
}
@media (min-width: 998px) {
  .journeyContent {
    margin-top: 6rem !important;
    max-width: 500px;
  }
  .formContainer {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 80px;
    margin-left: -50px !important;
    width: 750px;
  }
  .formImage {
    height: 640px;
  }
  .formLeaves {
    display: block;
  }
  .plantCareContent {
    margin-left: 4rem;
  }
  .plantCareLeaves {
    left: 16rem;
    bottom: -4rem;
  }
}
@media (min-width: 1200px) {
  .heroContainer {
    flex-direction: row;
  }
  .heroContent {
    width: 50rem;
    margin-right: -5rem;
    margin-left: 6rem;
  }
  .sliderContainer img {
    padding: 0;
    min-width: 80%;
  }
  .heroCarouselButton {
    margin-top: -2rem;
    margin-left: 7rem;
  }
}/*# sourceMappingURL=style.css.map */