@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$lightGreen: #3e8847;
$darkGreen: #09270d;
$contentColor: #727272;
$inputText: #c0c0c0;
$brandColor: #7d807e;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

@mixin fontDesign($name, $family, $size, $weight, $color) {
  .#{$name} {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
  }
}
// -------------------------------------------
hr {
  color: $lightGreen;
}

.greenButton {
  background-color: $darkGreen !important;
  color: white !important;
}

a {
  text-decoration: none;
}

@include fontDesign(sectionHeading, Playfair, 2.5rem, 700, $darkGreen);
@include fontDesign(cardHeading, Poppins, 1.5rem, 600, $darkGreen);
@include fontDesign(cardContent, Poppins, 0.9rem, 500, $contentColor);
@include fontDesign(content, Playfair, 1.2rem, 500, $contentColor);

.sectionGap {
  margin-top: 50px;
}

// navbar section
@include fontDesign(brandName, Playfair, 1.7rem, 500, $lightGreen);

.brandNameGray {
  color: $brandColor !important;
}

.navbarLink {
  li {
    a {
      color: $darkGreen !important;
    }
  }
}

.searchBox {
  &::placeholder {
    color: $inputText;
    font-size: 0.8rem;
  }
  outline: none !important;
}

.searchIcon {
  top: 8px;
  right: 13px;
  width: 20px;
}

.addUser,
.bag {
  &:hover {
    cursor: pointer;
  }
}

// hero section

@include fontDesign(heroHeading, Playfair, 4rem, 500, $lightGreen);

.heroLeaf {
  left: 30px;
  top: -50px;
  height: 80px;
}

.sliderContainer {
  img {
    min-width: 100%;
    width: 100%;
    height: 32rem;
  }
}

.heroCarouselImage {
  transition: all 0.3s ease;
  border-radius: 20px;
}

.heroSlider {
  display: inline-block;
  width: 3.5rem;
  height: 0.2rem;
  background-color: #92b896;
}

.heroSliderSelected {
  background-color: $lightGreen;
}

.heroContainer {
  flex-direction: column;
}

// plant collection section

@include fontDesign(collectionImageHeading, Playfair, 1.3rem, 600, $darkGreen);

.collectionContent {
  div {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.plantCollectionImage {
  height: 24rem;
  width: 18rem;
  img {
    width: 100%;
    height: 100%;
  }
}

.plantCollectionCarousel {
  div {
    flex-shrink: 0;
  }
}

.carouselMover {
  border: 0.5px solid $darkGreen;
  border-radius: 50%;
  font-size: 25px;
  &:hover {
    cursor: pointer;
    border-color: #f5c771;
    color: #f5c771;
  }
}

// journey section

.journeyPlant {
  height: 500px;
  width: 315px;
  img {
    height: 100%;
    width: 100%;
  }
}

.journeyContent {
  max-width: 100%;
}

.journeySidePlant {
  display: none;
}

.journeyLeaves {
  display: none;
  width: 100px;
  img {
    width: 100%;
    height: 100%;
  }
}

// advantages section

.cardImage {
  width: 80px;
  img {
    width: 100%;
    height: 100%;
  }
}

.advantagesCard {
  background-color: #fcfbf8;
  border-radius: 20px;
}

// form section

.formContainer {
  background-color: #faf9f7;
  height: 550px;
  width: 100%;
  padding: 20px;
  input {
    border: 0;
    border-bottom: 1px #ececec solid;
    background-color: #faf9f7;
    padding-top: 20px;
    outline: none;
  }
}

.formImage {
  height: auto;
  img {
    width: 100%;
    height: 100%;
  }
}

.formLeaves {
  display: none;
  bottom: -40px;
  width: 200px;
  img {
    width: 100%;
    height: 100%;
  }
}

// choosing section

.choosingImage {
  border-radius: 50%;
  width: 4.2rem;
  height: 4.2rem;
  background-color: $lightGreen;
  display: flex;
  justify-content: center;
  align-items: center;
  .greenPlant {
    display: none;
  }
}

.choosingCard {
  &:hover {
    cursor: pointer;
    .greenPlant {
      display: block;
    }
    .whitePlant {
      display: none;
    }
    .choosingImage {
      background-color: white;
    }
    .choosingCardFont {
      color: white;
    }
    background-color: $lightGreen;
  }
}
// client talk section
.clientCard {
  width: 20rem;
  .quoteWhite {
    display: none;
  }
  &:hover {
    cursor: pointer;
    background-color: $lightGreen;
    .quoteGreen {
      display: none;
    }
    .quoteWhite {
      display: block;
    }
    p {
      color: white;
    }
  }
}

.clientCardImage {
  width: 5rem;
  height: 5rem;
  img {
    width: 100%;
    height: 100%;
  }
}

.playButton {
  display: none;
}

.openQuote {
  width: 2rem;
  top: 6rem;
  left: 1.5rem;
}

.closeQuote {
  width: 2.5rem;
  bottom: -2rem;
  right: 2rem;
}

.clientCardContainer {
  &::-webkit-scrollbar {
    display: none;
  }
}

.clientTalkCard {
  transition: transform 0.6s ease;
}

// plantCare section
.plantCareImage {
  img {
    width: 100%;
    height: 100%;
  }
}
.plantCareLeaves {
  width: 7rem;
  img {
    width: 100%;
    height: 100%;
  }
}

// footer section
.footer-section {
  background-image: url(./images/footer/background.png);
}

@include fontDesign(footerNuvosa, poppins, 3rem, 500, #d0d6c9);
@include fontDesign(footerCategoryName, poppins, 1.5rem, 500, #d0d6c9);
@include fontDesign(footerBottomText, poppins, 0.8rem, 500, #b0baa3);

.footerSocialMedia {
  img {
    &:hover {
      cursor: pointer;
    }
  }
}

@media (min-width: 576px) {
  .sectionGap {
    margin-top: 100px;
  }

  // hero section

  // plant collection section

  .plantCollectionImage {
    height: 28rem;
    width: 24rem;
    transition: transform 9sec ease;
    &:hover{
      transform: rotate(3deg);
    }
  }

  // journey section

  .journeyPlant {
    height: 600px;
    width: 400px;
  }

  .journeySidePlant {
    display: block;
    top: -100px;
    height: 350px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .journeyLeaves {
    display: block;
  }

  // advantages section

  .cardImage {
    margin-left: -50px;
  }

  // form section
  .formContainer {
    padding: 60px;
  }
}

@media (min-width: 768px) {
  // hero section
  .heroCarouselButton {
    margin-left: 7rem;
  }

  .clientCard {
    width: 40rem;
  }

  .openQuote {
    width: 2rem;
    top: 1rem;
    left: 5rem;
  }

  .clientCardImage {
    width: 23rem;
    height: 7rem;
    margin: auto;
    margin-left: -3rem !important;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .playButton {
    display: block;
    &:hover {
      cursor: pointer;
    }
  }
}

@media (min-width: 998px) {
  .journeyContent {
    margin-top: 6rem !important;
    max-width: 500px;
  }

  // form section
  .formContainer {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 80px;
    margin-left: -50px !important;
    width: 750px;
  }
  .formImage {
    height: 640px;
  }

  .formLeaves {
    display: block;
  }

  // plant care

  .plantCareContent {
    margin-left: 4rem;
  }
  .plantCareLeaves {
    left: 16rem;
    bottom: -4rem;
  }

  // client talk
}

@media (min-width: 1200px) {
  .heroContainer {
    flex-direction: row;
  }

  .heroContent {
    width: 50rem;
    margin-right: -5rem;
    margin-left: 6rem;
  }

  .sliderContainer {
    img {
      min-width: 80%;
    }
  }
  .heroCarouselButton {
    margin-top: -2rem;
    margin-left: 7rem;
  }
}
